<% provide(:title, 'All Users') %>
<h1>ユーザ一覧</h1>
  <thead>
    <div class="row">
      <%= will_paginate %>
    </div>
    <div class="right">
      <%= form_tag(users_path, method: "get") do %>
      <%= label_tag :name, "名前" %><%= text_field_tag :name, params[:name] %>
      <!--%= select_tag :gender, options_for_select(User.genders), include_blank: true %-->
      <%= submit_tag "検索" %>
      <% end %>
    <br>
       <title><%= full_title(yield(:title)) %></title>
    </div>
  </thead>   
  <tbody>
    <tr>
      <div class="left box">
        <table class="table table-condensed table-hover" id="table-users">
          <% @users.each do |user| %>
         <br>
            <% if current_user.admin? %>
              <%= link_to user.name, user %>
            <% else %>
              <%= user.name %>
            <% end %>
         
            <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user), class: "btn btn-ligit" %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-ligit" %>
          </div>        
          <% end %>
        </div>
        <% end %>
      </div>
    </tr>
  </tbody>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
